<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <title>视频详情页</title>
    <link href = 'css/total_view_time.css' rel = "stylesheet" type = text/css>
    <!--<link href = 'css/libs/bootstrap.min.css' rel = "stylesheet" type = text/css>-->
    <link rel="stylesheet" href="javascript/libs/loading/jquery.shCircleLoader.css" type="text/css">
    <script src="config/ipconfig.js"></script>
</head>
<body>

<div class = 'container'>

    <div class="container-sub">


    <div id="shclProgress" style="position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;width: 100px;height: 100px;z-index: 10000"></div>
    <div class = 'video-title'>
        <!--<label class="video-date">视频：</label>
        <select class="selects" id="selects">
            <option value="1202">直线与方程_A12_点到直线的距离（定义法）</option>
            <option value="1336">直线与方程_A1_平面直角坐标系中的基本公式</option>
            <option value="1227">直线与方程_A6_直线的点斜式方程和斜截式方程</option>

        </select>-->
        <label class="video-date sm">日期：</label>
        <input type="text" id="video_name1"  placeholder="起始时间">
        <label class="video-date sm2" >&nbsp;至&nbsp;</label>
        <input type="text" id="video_name2"  placeholder="结束时间">
        <button id="btn" class="query sm" style="margin-left: 10px;">查询</button></div>
      <div class = 'container-wrap'>
         <div class="title-row1 title-row-video-top">
            <div class="title-left">
                <label class="title-left-real" style="font-size: 20px">视频名称：<label id="videoName"></label></label>
            </div>
            <div class="title-right">
                <label class="title-left-real"></label>
            </div>
            <div></div>
        </div>


          <!--退出3s详情页-->
     <div class = 'rows3'>
         <div id="all_three_main" style="width: 100%;height:400px;border: 2px solid gray;"></div>

     </div>
     <div class = 'rows4'>
         <div id="all_three_main1" style="width: 100%;height:400px;border: 2px solid gray;"></div>

     </div>

<!--暂停3s详情页-->
     <div class = 'rows5'>
       <div id="all_pause_three_main" style="width: 100%;height:400px;border: 2px solid gray;"></div>

     </div>
     <div class = 'rows6'>
         <div id="all_pause_three_main1" style="width: 100%;height:400px;border: 2px solid gray;"></div>

     </div>
</div>


         <div class="title-row2">
            <div class="title-left">
                <label class="title-left-real">退出观看次数分布图</label>
            </div>
            <div class="title-right">
                <label class="title-left-real">暂停次数分布图</label>
            </div>
            <div></div>
        </div>
         <div class = 'rows1'>
        <!-- <div id="main" style="width: 600px;height:400px;"></div>-->

         <!--<div id="main_sub" style="width: 600px;height:400px;">-->
         <div id="main2" style="width: 600px;height:400px;"></div>
         <div id="main3" style="width: 600px;height:400px;border: 2px solid gray;"></div>

             <!--<label class = 'title'>观看时长详情分布</label>-->
             <!--<span>分布范围：</span>[<span>0.1</span> ~ <span>0.9</span>]-->
         </div>

         </div>
     <div class="title-row1">
           <div></div>
            <div class="title-left1">
                <label class="title-left-real">交互次数分析<span style="font-size: 12px">(红色字体标注表示做对正确答案的次数)</span></label>
            </div>
            <div class="title-right  r-list">
                 <label class="title-left-real">观看时长整体分布</label>
            </div>

        </div>
     <div class = 'rows2'>
       <div id="main1" style="width: 600px;height:400px;">
           <div class="scroll" id="scroll">

           </div>
       </div>
         <div id="main" style="width: 600px;height:400px;border: 2px solid gray;"></div>

   </div>




    <!--<div class="test" style="width: 100px;height: 50px;background: cadetblue;">测试文件</div>-->





<!--页面的遮罩层-->
<div id="cover"></div>

<!--页面的弹出框-->
<div id="modal">
    <div id="main_sub" style="width: 800px;height:400px;"></div>
    <div id="close1" style="position: absolute;top: 8px;right: 8px;">X</div>
</div>
<div id="modal2">
    <div id="main_sub2" style="width: 800px;height:400px;"></div>
    <div id="close2" style="position: absolute;top: 8px;right: 8px;">X</div>
</div>
<div id="modal3">
    <div id="main_sub3" style="width: 800px;height:400px;"></div>
    <div id="close3" style="position: absolute;top: 8px;right: 8px;">X</div>
</div>
<!--<script src = javascript/libs/jquery-3.3.1.min.js></script>-->
<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

<script src = javascript/libs/echarts.js></script>
<script src = javascript/total_view_time.js></script>
<script src="javascript/libs/layDate-v5.0.9/laydate/laydate.js"></script>

<!--<script src="javascript/libs/laydate/laydate.js"></script>-->
<!--<script type="text/javascript" src="http://s.59pi.com/js/jquery/laydate/laydate.js"></script>-->

<script src="javascript/libs/loading/jquery.shCircleLoader-min.js"></script>
<!--<script src="javascript/libs/bootstrap.min.js"></script>-->
</body>
</html>